.cart{
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    border-radius: 10px;
}
table, th, td {
    border: 1px solid #6f5888;
}

.total{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

  table {
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #e6dcf1;
    border-radius: 5px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #b4a0ca;
    color: #ffffff;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #e6dcf1;
  }
  
  .total button {
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .total table{
    width: 30%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .total td {
    padding: 5px;
  }
  
  h2 {
    color: #3c64b1;
    margin-bottom: 10px;
  }
  
  .center-table {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
  }
  