.tab{
    padding: 20px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

table{
    border-collapse: collapse;
    width: 70%;
}

.boldText{
    font-weight: bold !important;
}
.container {
    padding: 20px;
    background-color: #f0f6fc;
    border-radius: 10px;
  }
  
  h2 {
    color: #6f5888;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    background-color: #b4a0ca;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tab {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .boldText {
    font-weight: bold;
  }
  .tab tr td:first-child {
    background-color: #b4a0ca;
  }
 
.no-cars-found {
    color: #6f5888;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  table, td{
    border: 1px solid #6f5888;

  }
  