.flexHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(184, 184, 184);
}

.MuiTab-textColorPrimary{
    color: black ;
}

.Mui-selected{
    color: #6f5888 !important;
    font-weight: bold !important;
}

.MuiTabs-indicator{
    background-color: #6f5888 !important;
}

.tabs{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

button:hover {
    background-color: #6f5888;
    color: #fff !important;
  }

  button {
    background-color: #b4a0ca;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  