form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
  input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    position: relative;
  }
  
  label > span {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
    color: #888;
    transition: all 0.3s ease-out;
    pointer-events: none;
  }
  
  input:focus + span,
  input:not(:placeholder-shown) + span {
    top: -12px;
    left: 10px;
    font-size: 10px;
    color: #333;
    background-color: #fff;
    padding: 0 3px;
  }

  .createAccount{
    margin-top: 20px;
    background-color: #90818176;
  }